@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #282C34;
  overflow: hidden;
}
/* Player marker */

.player-marker {
  animation: playerPulse 1.8s ease-in-out infinite;
}

@keyframes playerPulse {
  0% {
    transform: scale(.9);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(.9);
  }
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: none !important;
}

.leaflet-control-zoom a {
  width: 46px !important;
  height: 46px !important;

  display: flex !important;
  align-items: center;
  justify-content: center;

  background: rgba(51, 54, 60, .9) !important;
  backdrop-filter: blur(18px);

  color: white !important;
  font-size: 24px !important;
  font-weight: 700 !important;

  border: 1px solid rgba(255,255,255,.08) !important;
  border-radius: 50% !important;

  transition: .25s;
}

.leaflet-control-zoom a:hover {
  transform: scale(1.08);
  border-color: #51B1FE !important;
  box-shadow: 0 0 22px rgba(81,177,254,.35);
}

.leaflet-control-zoom-in {
  margin-bottom: 10px !important;
}